$white: #ffffff; //trying to use not-white
$black: #000000; //trying to use not-black

//Neutrals - Greyish brown colors from light to dark
$not-white: #FEF9F0; 
$very-light: #EEE5DE; //very light
$light: #CDC0B0; //light
$medium: #A39480; //medium
$dark: #8B7765; //dark
$not-black: #362819; //very dark

//Accent Colors
$light-yellow: #FFF8DC;
$yellow: #DAA520;
$light-red: #CD5C5C;
$red: #A1373B; //#B22222?
$dark-red: #661A1E; //#660000?
